# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# editor
.vscode

# temp
.yarn
.cache

# production
build
dist

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# leaks
.env

# my ignores
attic
*.old*
*.orig*
*.off*
